<div class="bg-gray-900/75 rounded pt-4 pb-2 px-8 w-full md:w-[40rem]">
  <h2 class="lilita uppercase text-3xl text-white mt-4 mb-4 text-center">Play Now!</h2>
  <div id="play">
    <ul class="flex flex-row justify-center p-4 mb-8 space-x-16">
      <li class="flex w-24 h-24 justify-center items-center">
        <a href="https://store.steampowered.com/app/2283410/CTHULOOT/?utm_source=website"
          class="flex flex-col justify-center items-center hover:text-blue-700 hover:bg-blue-700 transition ease-in-out hover:scale-110 ">
          <img class="" src="/static/images/site/steam.png" alt="Steam">
          <span class="text-white text-bold text-md text-center hover:text-blue-700 ">Steam</span>
        </a>
      </li>
      <li class="flex w-24 h-24 justify-center items-center">
        <a href="https://www.nintendo.com/us/store/products/cthuloot-switch/"
          class="flex flex-col justify-center items-center hover:text-blue-700 hover:bg-blue-700 transition ease-in-out hover:scale-110 ">
          <img class="" src="/static/images/site/switch.png" alt="Nintendo Switch">
          <span class="text-white text-bold text-md text-center hover:text-blue-700 ">Nintendo Switch</span>
        </a>
      </li>
    </ul>
  </div>

  <!--
  <h2 class="lilita uppercase text-2xl text-gray-300 mt-8 mb-4 text-center">Coming Later</h2>
  <div>
    <ul class="flex flex-row justify-center items-center mb-8 space-x-2">
      <li class="flex w-32 h-24 justify-center items-center">
        <a href="#"
        class="flex flex-col justify-center items-center hover:text-blue-700 hover:bg-blue-700 transition ease-in-out hover:scale-110 ">
          <img class="w-12"src="/static/images/site/xbox.png" alt="Xbox">
          <span class="text-gray-300 text-bold text-md text-center hover:text-blue-700 ">Xbox Serie</span>
        </a>
      </li>
      <li class="flex w-32 h-24 justify-center items-center">
        <a href="#"
        class="flex flex-col justify-center items-center hover:text-blue-700 hover:bg-blue-700 transition ease-in-out hover:scale-110 ">
          <img class="w-12" src="/static/images/site/ps5.png" alt="PS5">
          <span class="text-gray-300 text-bold text-md text-center hover:text-blue-700 ">PlayStation 5</span>
        </a>
      </li>
    </ul>
  </div> -->
</div>
