<div class="bg-gray-900/75 rounded pt-4 pb-4 px-8 mb-4 w-full md:w-[40rem]
    text-white
    flex flex-col space-y-3">
  <h2 class="lilita uppercase text-3xl text-white mt-4 text-center">Contact</h2>
  <p class="text-l text-white text-center">
    Curious about the game? Request a key or contact us!
  </p>
  <ul class="list-disc text-md justify-center pl-24 md:pl-40">
    <li>
      <a href="https://presskit.cthuloot.games" class="hover:text-blue-700">
        💼 <span class="underline">Presskit: link</span>
      </a>
    </li>
    <li>
      <a href="mailto:cthuloot@pixelnest.io" class="hover:text-blue-700">
        💌 <span class="underline">Contact: cthuloot@pixelnest.io</span>
      </a>
    </li>
  </ul>
  <div class="flex flex-row space-x-2 justify-center items-center">
    <img class="flex w-8 " src="/static/images/site/discord.png" alt="Discord">
    <a href="https://discord.cthuloot.games" class="flex text-xl text-white rounded hover:text-blue-700">
      Join us on the discord server!
    </a>
  </div>
</div>