<div class="bg-gray-900/75 rounded pt-4 pb-2 px-8 w-full md:w-[40rem]">
    <h2 class="lilita uppercase text-3xl text-white mt-4 mb-4 text-center">Gallery</h2>
   
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3">
        <a href="{{site.url}}/static/images/assets/screenshot1.jpg" target="_blank">
          <img class="object-cover object-center w-full h-40 max-w-full rounded-lg transition ease-in-out hover:scale-110 "
            src="{{site.url}}/static/images/assets/screenshot1.jpg"/>
        </a>
        <a href="{{site.url}}/static/images/assets/screenshot2.jpg" target="_blank">
          <img class="object-cover object-center w-full h-40 max-w-full rounded-lg transition ease-in-out hover:scale-110 "
            src="{{site.url}}/static/images/assets/screenshot2.jpg"/>
        </a>
        <a href="{{site.url}}/static/images/assets/screenshot3.jpg" target="_blank">
          <img class="object-cover object-center w-full h-40 max-w-full rounded-lg transition ease-in-out hover:scale-110 "
            src="{{site.url}}/static/images/assets/screenshot3.jpg" />
        </a>
        <a href="{{site.url}}/static/images/assets/screenshot4.jpg" target="_blank">
          <img class="object-cover object-center w-full h-40 max-w-full rounded-lg transition ease-in-out hover:scale-110 "
            src="{{site.url}}/static/images/assets/screenshot4.jpg"/>
        </a>
        <a href="{{site.url}}/static/images/assets/screenshot5.jpg" target="_blank">
          <img class="object-cover object-center w-full h-40 max-w-full rounded-lg transition ease-in-out hover:scale-110 "
            src="{{site.url}}/static/images/assets/screenshot5.jpg"/>
        </a>
        <a href="{{site.url}}/static/images/assets/screenshot6.jpg" target="_blank">
          <img class="object-cover object-center w-full h-40 max-w-full rounded-lg transition ease-in-out hover:scale-110 "
            src="{{site.url}}/static/images/assets/screenshot6.jpg"/>
        </a>
        <a href="{{site.url}}/static/images/assets/screenshot7.jpg" target="_blank">
          <img class="object-cover object-center w-full h-40 max-w-full rounded-lg transition ease-in-out hover:scale-110 "
            src="{{site.url}}/static/images/assets/screenshot7.jpg"/>
        </a>
        <a href="{{site.url}}/static/images/assets/screenshot8.jpg" target="_blank">
          <img class="object-cover object-center w-full h-40 max-w-full rounded-lg transition ease-in-out hover:scale-110 "
            src="{{site.url}}/static/images/assets/screenshot8.jpg"/>
        </a>
        <a href="{{site.url}}/static/images/assets/gif1.gif" target="_blank">
          <img class="object-cover object-center w-full h-40 max-w-full rounded-lg transition ease-in-out hover:scale-110 "
            src="{{site.url}}/static/images/assets/gif1.gif" />
        </a>
        <a href="{{site.url}}/static/images/assets/gif2.gif" target="_blank">
          <img class="object-cover object-center w-full h-40 max-w-full rounded-lg transition ease-in-out hover:scale-110 "
          src="{{site.url}}/static/images/assets/gif2.gif" />
        </a>
        <a href="{{site.url}}/static/images/assets/gif3.gif" target="_blank">
          <img class="object-cover object-center w-full h-40 max-w-full rounded-lg transition ease-in-out hover:scale-110 "
          src="{{site.url}}/static/images/assets/gif3.gif" />
        </a>
        <a href="{{site.url}}/static/images/assets/gif4.gif" target="_blank">
          <img class="object-cover object-center w-full h-40 max-w-full rounded-lg transition ease-in-out hover:scale-110 "
          src="{{site.url}}/static/images/assets/gif4.gif" />
        </a>
      </div>
  </div>