<div class="bg-gray-900/75 rounded pt-4 pb-2 px-8 mb-4 w-full md:w-[40rem]
    text-white
    flex flex-col space-y-3">
<h2 class="lilita uppercase text-3xl text-white mt-4 text-center">The Team</h2>
  <p class="text-l text-center">
    <span  class="lilita text-bold text-l">CTHULOOT</span> is a coproduction 
    <a href="https://pixelnest.io" class="lilita text-bold text-l hover:text-blue-700 ">Pixelnest Studio</span>
      &nbsp;x &nbsp;
      <a href="https://heandbang.club" class="lilita text-bold text-l hover:text-blue-700 ">Headbang Club</a>
  </p>
  <h3 class="lilita uppercase text-xl text-white pl-8 md:pl-16">
    Core Team
  </h3>
  <ul class="list-disc text-md justify-center pl-12 md:pl-24">
    <li>
      <span class="lilita text-bold text-l">Damien Mayance:</span> Development
    </li>
    <li>
      <span class="lilita text-bold text-l">Eddy Margueron:</span> 3D Artist
    </li>
    <li>
      <span class="lilita text-bold text-l">David Elahée:</span> Game Design & producing
    </li>
    <li>
      <span class="lilita text-bold text-l">Louna Charial:</span> Level Design
    </li>
    <li>
      <span class="lilita text-bold text-l">Corentin Brasart:</span> Sound Design & Music
    </li>
  </ul>
  <h3 class="lilita uppercase text-xl text-white pl-8 md:pl-16">
    Externals
  </h3>
  <ul class="list-disc text-md justify-center pl-12 md:pl-24">
    <li>
      <span class="lilita text-bold text-l">Garance Royère:</span> 2D Artist
    </li>
    <li>
      <span class="lilita text-bold text-l">Marlène Gray:</span> 2D Artist
    </li>
    <li>
      <span class="lilita text-bold text-l">Simon Coroller:</span> Concept Artist
    </li>
  </ul>
</div>