  .bg {
    background-image: url('../images/site/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    /* background-position-y: -150px; */
    margin: 0px;
    padding: 0px;
    /* height: 500px; */
  }
  
  .lilita {
    font-family: "Lilita One", sans-serif;
  }